
article {
  margin: auto
}

.cotizaciones-card {  
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 350px;
  min-width: 100%;

  border: var(--border-car);
  border-top: solid 1px var(--highlight);
  background: var(--gradiant);
  color: var(--text);
}

.cotizaciones-card:hover {
  background: var(--gradiant-hover);
}


.casa {
  min-width: 10rem;
  font: var(--font-3);
  color: hsl(0, 0%, 100%);
}

.thead {
  font-size: 0.5rem;
  color: var(--text-muted);
}

.tbody {
  font: var(--font-1);
  color: var(--text);
}



