
article {
  margin: auto
}

.cotizaciones-card {  
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 350px;
  min-width: 100%;
  border-radius: 5px;
  padding: 0.6rem;

  border: var(--border-car);
  border-top: solid 1px var(--highlight);
  background: var(--gradiant);
  color: var(--text);
  box-shadow: var(--shadow);
}

.cotizaciones-card:hover {
  background: var(--gradiant-hover);
}


.casa {
  min-width: 10rem;
  font: var(--font-2);
  color: var(--text)
}

.thead {
  font-size: 0.5rem;
  color: var(--text-muted);
}

.tbody {
  font: var(--font-1);
  color: var(--text);
}

td {
  color: var(--text);
}

@media screen and (min-width:560px) {
.cotizaciones-card {  

  max-width: 500px;
  padding: 1rem;
  margin-top: 1rem;
  }

  .casa {
  min-width: 12rem;
  font-size: 1.15rem;
}

.tbody {
  font-size: 1.25rem;
}
  
}


